# Environment
.env
__pycache__/
*.py[cod]
*$py.class

# Data (Excluding reference and benchmark dataset)
data/raw/
data/interim/*
!data/interim/all_jobs_merged.csv
discarded data/
!data/reference/

# IDEs
.vscode/
.idea/
.gemini/
.agent/
brain/
*.log
